1. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

2. Write a Pandas program to create a multi Index frame using two columns and using an Index and a column.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6   
'''

3. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

4. Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

5. Write a Pandas program to create a DataFrame using intervals as an index.

6. Write a Pandas program to create a dataframe indexing by date and time.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

7. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

9. Write a Pandas program to convert index of a given dataframe into a column.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

10. Write a Pandas program to convert 1st and 3rd levels in the index into columns from a multiple level of index frame of a given dataframe.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

11. Write a Pandas program to check if a specified value exists in single and multiple column index dataframe.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

12. Write a Pandas program to construct a series using the MultiIndex levels as the column and index.

13. Write a Pandas program to construct a DataFrame using the MultiIndex levels as the column and index.

14. Write a Pandas program to extract a single row, rows and a specific value from a MultiIndex levels DataFrame.

15. Write a Pandas program to rename names of columns and specific labels of the Main Index of the MultiIndex dataframe.

16. Write a Pandas program to sort a MultiIndex of a DataFrame. Also sort on various levels of index.

17. Write a Pandas program to extract elements in the given positional indices along an axis of a dataframe.

18. Write a Pandas program to get the index of an element of a given Series.

19. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

20. Write a Pandas program to find the indexes of rows of a specified value of a given column in a DataFrame.

In [ ]:
'''
Test Data:
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6
'''

21. Write a Pandas program to drop an index level from a multi-level column index of a dataframe.

22. Write a Pandas program to insert a column at a specific index in a given DataFrame.

23. Write a Pandas program to print a DataFrame without index.

24. Write a Pandas program to find an integer index of rows with missing data in a given dataframe.

25. Write a Pandas program to start an index with a different value rather than 0 in a given DataFrame.

26. Write a Pandas program to select rows by filtering on one or more column(s) in a multi-index dataframe.

In [ ]:
'''

'''